@page
@model JobTracker.Pages.JobApplications.IndexModel
@{
    ViewData["Title"] = "Job List";
}

<h2>Job Applications</h2>


<div class="form-group">
    <a asp-page="./Edit" class="btn btn-primary">Add New</a>
</div>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="searchTerm">
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>


<table class="table table-hover table-striped">
    @foreach (var j in Model.jobs)
    {
        <tr>
            <td>@j.JobTitle</td>
            <td>@j.DateApplied</td>
            @*<td>
                    <a class="btn btn-lg" asp-page="./Details" asp-route-jobId="@j.Id">
                        <i class="glyphicon glyphicon-zoom-in"></i>
                    </a>
                </td>*@
            <td>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-jobId="@j.Id">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
        </tr>
    }
</table>



@if (Model.Message != null)
{
    <div class="alert alert-info">
        @Model.Message
    </div>
} 