@page "{JobId:int?}"
@model EditModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@(Model.job.Id > 0 ? $"{Model.job.JobTitle}" : "Adding New")</h2>

<form method="post" class="form-horizontal">

    <input type="hidden" asp-for="job.Id" />


    <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">@(Model.job.Id > 0 ? "Save":"Add") </button>
        @*<button type="submit" class="btn btn-danger" asp-page-handler="Delete"
                    onclick="return confirm ('Are your sure you wish to delete this job?')">
                Delete
            </button>*@
        <a asp-page="Index" class="btn btn-default">Cancel</a>
    </div>

    <br />
    <br />
    <br />

    <div class="form-group">
        <label asp-for="job.DateApplied" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.DateApplied" />
            <span class="text-danger" asp-validation-for="job.DateApplied"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="job.JobTitle" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.JobTitle" />
            <span class="text-danger" asp-validation-for="job.JobTitle"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="job.AppliedSite" class="col-lg-2 control-label"></label>

        @if (Model.job.Id > 0)
        {

            <div class="col-lg-8">
                <input type="text" class="form-control" id="inputEmail" asp-for="job.AppliedSite">
                <span class="text-danger" asp-validation-for="job.AppliedSite"></span>
            </div>
            <div class="col-lg-2">
                <a href="@Model.job.AppliedSite" target="_blank">
                    <label class="btn btn-default">Open</label>
                </a>
            </div>
        }
        else
        {
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" asp-for="job.AppliedSite">
                <span class="text-danger" asp-validation-for="job.AppliedSite"></span>
            </div>
        }

    </div>

    <div class="form-group">
        <label asp-for="job.IsJobStillActive" class="col-lg-2 control-label"></label>
        <div class="col-lg-1">

            <input class="checkbox" asp-for="job.IsJobStillActive" />

        </div>
    </div>



    <div class="form-group">
        <label asp-for="job.Description" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <textarea class="form-control" asp-for="job.Description" rows="10"></textarea>
            <span class="text-danger" asp-validation-for="job.Description"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="job.JobRequirement" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <textarea class="form-control" asp-for="job.JobRequirement" rows="10"></textarea>
            <span class="text-danger" asp-validation-for="job.JobRequirement"></span>
        </div>
    </div>



    <div class="form-group">
        <label asp-for="job.CallBack" class="col-lg-2 control-label"></label>
        <div class="col-lg-1">
            <input class="checkbox" asp-for="job.CallBack" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="job.LastUpdate" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.LastUpdate" />
            <span class="text-danger" asp-validation-for="job.LastUpdate"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="job.CallBackDate" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.CallBackDate" />
            <span class="text-danger" asp-validation-for="job.CallBackDate"></span>
        </div>


    </div>

    <div class="form-group">
        <label asp-for="job.CompanyName" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.CompanyName" />
            <span class="text-danger" asp-validation-for="job.CompanyName"></span>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="job.CompanyContactName" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.CompanyContactName" />
            <span class="text-danger" asp-validation-for="job.CompanyContactName"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="job.CompanyWebsite" class="col-lg-2 control-label"></label>


        @if (Model.job.Id > 0)
        {

            <div class="col-lg-8">
                <input type="text" class="form-control" id="inputEmail" asp-for="job.CompanyWebsite">
                <span class="text-danger" asp-validation-for="job.CompanyWebsite"></span>
            </div>
            <div class="col-lg-2">
                <a href="@Model.job.CompanyWebsite" target="_blank">
                    <label class="btn btn-default">Open</label>
                </a>
            </div>
        }
        else
        {
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" asp-for="job.CompanyWebsite">
                <span class="text-danger" asp-validation-for="job.CompanyWebsite"></span>
            </div>
        }
    </div>

    <div class="form-group">
        <label asp-for="job.CompanyPhone" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.CompanyPhone" />
            <span class="text-danger" asp-validation-for="job.CompanyPhone"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="job.CompanyEmail" class="col-lg-2 control-label"></label>
        <div class="col-lg-10">
            <input class="form-control" asp-for="job.CompanyEmail" />
            <span class="text-danger" asp-validation-for="job.CompanyEmail"></span>
        </div>
    </div>

    <br />

    <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" asp-page-handler="Edit">@(Model.job.Id > 0 ? "Save":"Add") </button>
        @*<button type="submit" class="btn btn-danger" asp-page-handler="Delete"
                    onclick="return confirm ('Are your sure you wish to delete this job?')">
                Delete
            </button>*@
        <a asp-page="Index" class="btn btn-default">Cancel</a>
    </div>
</form>